.introduce-summary-wrapper{
  margin: 0;
  padding: 8px 0;
  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: 8px;

}
.introduce-summary-wrapper img {
  width: 40%;
  height: 50%;
}
.introduce-summary {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;

  display: inline-flex;
  flex-direction: column;
  grid-gap: 4px;
}

.introduce{
  font-size: 14px;
}
.introduce p:not(.greet) {
  text-indent: 4px;
}

.introduce-hashtag {
  margin: 16px 0 0 0;
  width: 100%;
}
.introduce-hashtag h3 {
  margin: 0;
}
.introduce-hashtag ul {
  margin: 0;
  list-style: none;
  padding: 0;

  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;  
  justify-content: center;
}
.hashtag{
  display: inline-block;
  font-size: 12px;
}