.description{
  margin: 24px 0 32px 0;
  font-size: 12px;
}

.hightlight {
  display: inline-block;
  padding: 4px;
  border-radius: 4px;
  background: rgba(191, 183, 176, 0.2);
}
.bold {
  font-weight: bold;
}