.project-image{
  height: 90px;
  border: 1px solid red;
}
.project-stack-wrapper {
  padding: 8px;
  height: 298px;
  box-sizing: border-box;
  border: 1px solid red;

  position: relative;
}
.project-stack-wrapper h3 {
  margin: 0;
  font-size: 14px;
}
.project-stack-wrapper ul {
  margin: 8px 0 0 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
}
.project-stack ul {
  display: inline-flex;
  flex-direction: row;
  grid-gap: 8px;
}

.project-description {
  margin-top: 32px;
  border: 1px solid blue;
}
.project-code {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid blue;

  position: absolute;
  right: 8px;
  bottom: 16px;
}

.project-pagination {
  border: 1px solid red;

  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}