.menu-icon{
  width: 40px;
  height: 40px;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 8px;
  right: 16px;
}
.menu-icon:hover {
  background: #F23D5E; /* modify later */
}
.menu-icon span {
  display: inline-block;
  width: 24px;
  height: 2px;
  background: #F2F2F2;
  border-radius: 4px;

  position: relative;
}
.menu-icon span::before,
.menu-icon span::after{
  content: '';
  display: inline-block;
  width: 24px;
  height: 2px;
  background: #F2F2F2;
  border-radius: 4px;
}

.menu-icon span::before{
  position: absolute;
  top: 8px;
}
.menu-icon span::after {
  position: absolute;
  bottom: 8px;
}