::root {
  --white: #F2F2F2;
  --lightgray: #BFBFBF; 
  --darkgray: #595959;
  --black: #333;
  --pink: #F23D5E; 
  --green: #04BF68;
}

.app-container{
  margin: 0 auto;
  max-width: 360px;
  height: 640px;
  border: 1px solid red;
  box-sizing: border-box;

  position: relative;
}

.menu-icon{
  float: right;
  width: 40px;
  height: 40px;
  border: 1px solid red;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.menu-icon span {
  display: inline-block;
  width: 24px;
  height: 2px;
  background: #000;
  border-radius: 4px;

  position: relative;
}
.menu-icon span::before,
.menu-icon span::after{
  content: '';
  display: inline-block;
  width: 24px;
  height: 2px;
  background: red;
  border-radius: 4px;
}

.menu-icon span::before{
  position: absolute;
  top: 8px;
}
.menu-icon span::after {
  position: absolute;
  bottom: 8px;
}

.app-container-bg,
.app-container-bg::before {
  width: 220px;
  height: 340px;
  position: absolute;
}
.app-container-bg{
  /* background-image: url('/src/img/main.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;

  top: 160px;
  right: 26px;
}
.app-container-bg::before {
  content: '';
  display: inline-block;
  border: 2px solid #BFBFBF;

  top: -10px;
  right: -10px;
}

.app-container-text{
  width: 231px;
  height: 236px;

  position: absolute;
  left: 16px;
  top: 202px;
}
.app-container-text h1 {
  color: #fff;
}
.app-container-text h1::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 38%;

  transform: translateY(-50%);
  width: 80px;
  height: 47px;
  backdrop-filter: invert(1);
}


.introduce-summary-wrapper{
  margin: 0;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: 8px;
}
.introduce-summary-wrapper img {
  width: 40%;
  height: 50%;
}
.introduce-summary {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
}

.introduce{
  font-size: 14px;
}

.introduce-hashtag {
  margin: 16px 0 0 0;
  width: 100%;
}
.hashtag{
  display: inline-block;
  font-size: 12px;
}

/* experience */
.description{
  margin: 24px 0 32px 0;
  font-size: 12px;
}

.hightlight {
  display: inline-block;
  padding: 4px;
  border-radius: 4px;
  background: rgba(191, 183, 176, 0.2);
}
.bold {
  font-weight: bold;
}

/* project */
.project-image{
  height: 90px;
  border: 1px solid red;
}
.project-stack-wrapper {
  padding: 8px;
  height: 298px;
  box-sizing: border-box;
  border: 1px solid red;

  position: relative;
}
.project-stack-wrapper h3 {
  margin: 0;
  font-size: 14px;
}
.project-stack-wrapper ul {
  margin: 8px 0 0 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
}
.project-stack ul {
  display: inline-flex;
  flex-direction: row;
  grid-gap: 8px;
}

.project-description {
  margin-top: 32px;
  border: 1px solid blue;
}
.project-code {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid blue;

  position: absolute;
  right: 8px;
  bottom: 16px;
}

.project-pagination {
  border: 1px solid red;

  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

/* contact */
.contact-info {
  width: 100%;
}
.contact-info form,
.contact-info table {
  width: 100%;
}
.contact-info table {
  margin: 0 0 24px 0;
}
.contact-info table tr {
  width: 100%;
  height: 40px;
  display: table;
  border-bottom: 1px solid red;
  border-collapse: collapse;
}
.contact-info table th {
  width: 40%;
}
.contact-info table td {
  width: 60%;
}

.contact-info table th,
.contact-info table td {
  padding: 0;
  text-align: left;
  font-size: 12px;
}
.contact-info table tr.content th {
  padding-top: 14px;
  vertical-align: top;
}
.contact-info table td {
  height: fit-content;
}
.contact-info table tbody input[type="text"],
.contact-info table tbody input[type="email"],
.contact-info table tbody textarea {
  padding: 0 0 0 8px;
  width: 100%;
  height: 32px;
  box-sizing: border-box;
  outline: none;
  border: none;
}
.contact-info table tbody textarea {
  padding: 14px 0 0 0;
  resize: none;
  height: 168px;

  font-size: 16px;
  font-weight: bold;
}

.contact-info form button[type="submit"] {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
}
footer {
  height: 32px;
  line-height: 32px;
  font-size: 12px;

  position: absolute;
  right: 16px;
  bottom: 16px;
}